header {
    text-align: center;
}

footer {
    margin-top: 20px;
    text-align: right;
}

/*
img {
#logo {
.round {
header>img {
#unDiv>img {
 */
header>div>img {
    margin-top: 30px;
    margin-bottom: 20px;
    width: 40%;
    border-style: solid;
    border-radius: 50%;
}

body {
    background-color: lightgray;
}

h1, h2 {
    text-shadow: 2px 2px white;
}

h2 {
    padding-bottom: 25px;
}

nav li {
    display: inline;
    padding: 15px;
}

article {
    width: 50%;
    float: left;
    overflow: hidden;
}

article>figure>img {
    width: 60%;
    border-style: solid;
}

nav li>a:link, nav li>a:visited {
    text-decoration: none;
    color: white;
}

/*nav li:hover {
    background-color: black;
}*/

footer {
    clear: left;
}

.row {
    margin-top: 40px;
    padding-left: 5px;
}

.parag {
    margin-left: 5px;
}

@media screen and (max-width: 800px) {
    nav li {
        display: block;
    }
    article {
        width: 100%;
        float: none;
    }
}
